{% extends "base.twig" %}

{% block content %}
<div class="project-header">
    <div class="row">
    <h1>{{title}}</h1>
    </div>

    <div class="overlay"></div>
    <div id="project-map"></div>
</div>
<div id="scroll-container">
{% for post in posts %}

    <div class="project" data-id='{{ post.id }}' data-lat="{{ post.location.lat }}" data-long="{{ post.location.lng }}" data-title="{{post.title}}">
        <div class="row">
            <div class="medium-4 columns">
                {% if post.thumbnail.src %}
                    <img src="{{post.thumbnail.src}}"/>
                {% endif %}
            </div>
            <div class="medium-8 columns">
                <h3 class="h2">
                    <a href="{{post.link}}">{{post.title}}</a>
                </h3>
                <p>{{post.get_preview(25)}}</p>
            </div>
        </div>
    </div>

{% endfor %}
</div>

{% endblock %}