{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<nav id="nav-main" class="nav-main" role="navigation">
						<div class="row">
                            {% include "menu.twig" with {'menu': menu.get_items} %}
						</div>
					</nav><!-- #nav -->
				</div>
				<nav class="mobileNav">
					<div class="mobileNavWrapper">
						{% include "menu.twig" with {
							'menu' : menu.get_items
						} %}
					</div>
				</nav>

				<div class="mobile-nav">
					<div class="row">
						<div class="small-8 columns">
							<div class="mobileLogo" role="banner">
								<a href="{{ site.url }}">{{ get_image_from_server('Genidaqs_hor_Transparent_1.png') }}</a>
							</div>
						</div>
						<div class="small-4 columns">
							<a id="nav-toggle" href="#">
								<span></span></a>
						</div>
					</div>

				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
