<div class="footer-content">
    <div class="row">
        <div class="medium-4 columns">
            <div class="address">
                <h3>West Sacramento</h3>
                <p>(916) 231-1681</p>
                <p>3300 Industrial Blvd., Suite 100</p>
                <p>West Sacramento, CA 95691</p>
            </div>
        </div>
        <div class="medium-4 columns"></div>
        <div class="medium-4 columns text-right">
            <a href="http://www.fishsciences.net/">Cramer Fish Sciences</a>
            <p class="copyright">&copy; {{ now|date('Y') }}</p>
        </div>
    </div>
</div>
