{% if menu %}
	<ul>
		<li class="menu-logo">
			<a href="{{ site.url }}">{{ get_image_from_server('Genidaqs_hor_Transparent_1.png') }}</a>
		</li>
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
