{% extends "base.twig" %}

{% block content %}
    <div class="hero">
        <div class="row">
            <div class="medium-8 columns">
                    <h1 class="fancy space-bottom2">{{post.header}}</h2>
                    <div class="quiet z1 subnav space-bottom2">

                    </div>
                    <p>{{post.header_excerpt}}
                    </p>
                    {% if post.button_link %}
                        <a href="{{post.button_link}}" id="explore" class="animate button stroke pad4x rcon down round-big">{{post.button_text}}</a>
                    {% endif %}
            </div>
            <div class="medium-4 columns">
                {{ get_icon('dna') }}
            </div>
        </div>
    </div>
    <div id="projects">
        {% if projects|length > 1 %}
            <div class="project_nav">
                {% for project in projects %}
                    <div data-project="{{ project.id }}" class="nav_dot"></div>
                {% endfor %}
            </div>
        {% endif %}
        <div id="map-container">
            <div id="project-map"></div>
        </div>
        <div id="scroll-container">
            {% for project in projects %}
            <section data-id='{{ project.id }}'
                     data-lat="{{ project.location.lat }}"
                     data-long="{{ project.location.lng }}"
                     data-title="{{project.title}}"
                     class="project"
            >
                <div class="inner-section">
                    <div class="icon">
                        {% if project.terms | length > 0  %}
                            {# <pre>
                                {{ dump(project.terms[0].icon.sizes.thumbnail) }}
                            </pre> #}
                            <img src="{{ project.terms[0].icon.sizes.thumbnail }}" alt="" >
                        {% else %}

                            {{ get_icon('dna') }}
                        {% endif %}
                    </div>
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.get_field('excerpt') }}</p>
                    <a href="{{project.link}}" class="animate button stroke pad4x rcon down round-big">Read More</a>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}