html {
  h1{
    font-family: $header-font;
    font-weight: bold;
    color: #ffffff;
    &.article-h1{
        color: #666666;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
    font-weight: 400;
  }
  p,
  li,
  a {
    font-family: $body-font;
  }
}

.button {
  &.stroke {
    border: none;
    box-shadow: 0px 0px 0px 2px white inset;
    color: white;
    border-radius: 60px;
    background: none;
    &:hover {
      background: $accent;
    }
  }
}

header{
  background: $grad;
  padding: 10px 0 0;
  .mobileNav {
    .mobileNavWrapper{
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:$grad;
    z-index: 999;
  }
  .mobile-nav {
    display: none;
  }
}

#nav-main {
  border-image: $grad;
  background-color: #ffffff;
  padding: 10px 30px;
  ul {
    display: flex;
    list-style:none;
    padding: 0;
    margin: 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    > * {
      //flex: 1;
      font-family: $body-font;
      font-weight: bold;
      text-transform: uppercase;
    }
    img {
      max-height: 80px;
    }
  }
}

.hero {
  padding: 50px 0 10px;
  background: $grad;
  color: #ffffff;
  h2 {
    color: #ffffff;
  }
  svg {
    height: 280px;
    transform: rotate(20deg);
  }
  path{
    fill: #ffffff;
  }
}

.marker {
  background-image: url('../_images/mapMarker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#projects {
  position: relative;
  display: block;
  height: 562px;
  overflow: hidden;
  #map-container{
    width: 50%;
    height: 562px;
    position: absolute;
  }
  #project-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .project_nav{
    position: absolute;
    height: 100%;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .nav_dot {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #666;
      margin: 10px;
      &.active {
        background-color: $primary;
      }
    }
  }
  #scroll-container {
    height: 100%;
    width: 50%;
    margin-left: 50%;
    position: relative;
    overflow: scroll;
    section{
      padding: 40px 20px;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      position: relative;
      .inner-section {
        position: absolute;
        max-width: 675px;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        padding-left: 80px;
        padding-right: 80px;
        margin-left: auto;
        margin-right: auto;
        .button {
          //transition: $prim-animate;
          &.stroke {
            border: none;
            box-shadow: 0px 0px 0px 2px $accent inset;
            color:$accent;
            border-radius: 60px;
            background: none;
            &:hover {
              background: $grad;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .icon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: $primary;
    display: flex;
    align-content: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    svg {
      height: 75%;
      path {
        fill: #ffffff;
      }
    }
    img {
      width: 100px;
    }
  }
}
.post-type-archive{
  h1{
    color: $primary;
    margin: 150px auto;
    text-align: center;
    position: absolute;
    z-index: 10;
  }
  .overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    height: 100%;
    background-color: $grad-trans;
    z-index: 5;
  }
  .project{
    margin: 15px 0;
  }
  #project-map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
  }
  .mapboxgl-popup-content {
    max-width: 300px;
  }
  .project-header {
    height: 300px;
    position: relative;
    margin-bottom: 50px
  }
    #scroll-container {
    height: 45vh;
    width: 100%;
    position: relative;
    overflow: scroll;
    .project {
      padding: 25px 0;
    &.active{
      border:solid 1px #999;
    }
    }
  }
}

#footer {
  background: $grad;
  padding: 10px 0;
  .footer-content {
    background: #ffffff;
    padding: 15px 0;
    p {
      line-height: 1;
      margin: 0 0 5px;
      font-size: 0.8rem;
    }
  }
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}