body{
    #projects{
        display: none;
    }
    .mobile-nav {
        display: flex;
        background-color: #fff;
        padding: 15px 0;
    }
  &.showMobileNav{
    overflow: hidden;
    .mobileNav{
      transition: opacity 250ms cubic-bezier(.165,.84,.44,1);
      transform: translate3d(0,0,0);
      opacity: 0.99;
      display: block;
      ul {
        list-style: none;
        text-align: center;
        margin: auto;
        .menu-logo{
            display: none;
        }
        a {
          font-family: $body-font;
          color: #fff;
          font-size: 28px;
          line-height: 70px;
          text-transform: uppercase;
        }
      }
    }
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      transform: rotate(-20deg);
      transform-origin: center 40%;
      transition: transform .2s ease-out;
    }
  }
}
#nav-main {
    display: none;
}
  #nav-toggle {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    z-index: 1000;
    span {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $primary;
      position: absolute;
      display: block;
      content: '';
      &:before, &:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $primary;
        position: absolute;
        display: block;
        content: '';
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
      transition: all 500ms ease-in-out;
      &:before, &:after {
        transition: all 500ms ease-in-out;
      }
    }
    &.active span {
      background-color: transparent;
      &:before, &:after {
        top: 0;
        background-color: #fff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }