//Fonts
$header-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;


//Colors
$primary: #0093dd;
$accent: #90c533;
$grad: linear-gradient(-135deg, rgba(0,147,221,1) 0%, rgba(144,197,51,1) 100%);
$grad-trans: linear-gradient(-135deg, rgba(0,147,221,1) 0%, rgba(144,197,51,1) 100%);
$prim-animate: all 250ms linear;

